body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF1E4;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #CEDEBD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #435334;
    text-align: center;
  }
  
  #inputForm {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #435334;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #9EB384;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #435334;
  }
  
  h2 {
    color: #435334;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #435334;
  }
  
  th {
    background-color: #9EB384;
    color: white;
  }
  